// General colours
$color-white: #ffffff;
$color-blue: #70809B;
$color-blue-light: #CDD3DC;
$color-blue-dark: #31476B;

//font colours
$font-color-primary: #333;
$font-color-secondary: #31476B;

// fonts
$default-font: Rubik, sans-serif;
$headings-font: Quicksand, sans-serif;

